
.react-select-wrapper .Select-control{
    border: 1px solid #a94442;
}

.margin-to-navbar {
    margin-top: 65px;
}

.form-margin-to-navbar {
    margin-top: 30px;
}

.list > li {

}

.list  img {
    width: 60px;
    height: 60px;
}

.club-list > li {
    display: inline-block;
    width: 200px;
    height: 160px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: relative;
    margin: 10px;
}

.club-list .club-color-bg {
    background-color: red;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.club-list .club-badge-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.club-list .club-badge-content{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.club-list .club-name-wrapper {
    color: white;
    width: 100%;
}

.club-list .club-name-wrapper > h4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.club-list .club-name-wrapper > h4 {
    margin-top: 20px;
}


.match-card-wrapper {
    display: inline-block;
    width: 400px;
    margin: 5px 0;
}

.match-card {
    background-color: #fff;
    width: 100%;
}

.match-card-header {
    height: 40px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
    display: table;
}

.match-card-header-content {
    display: table-cell;
    vertical-align: middle;
    color: #666;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.match-card-body {
    padding: 15px;
    display: table;
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.match-card-club-item {
    width: 35%;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.match-card-club-item > img{
    height: 40px;
}

.match-card-club-abbreviation {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    width: 50%;
}

.match-card-club-abbreviation-home {
    padding: 0 15px 0 0;
}

.match-card-club-abbreviation-visitor {
    padding: 0 0 0 15px;
}

.match-card-club-badge {
    display: inline-block;
}

.match-card-club-badge > img{
    height: 40px;
}

.match-card-score {
    width: 30%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.match-card-score > h3{
    margin: 0px;
}